@font-face {
    font-family: "SampleFont";
    src: url("/assets/smallA.ttf");
  }
  
  html,
  body {
      margin: 0;
      padding: 0;
  }
  
  canvas {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 15%) scale(.75);
      -webkit-transform: translate(-50%, 10%) scale(.75);
      opacity: 1
  }
  
  #glyphBox { 
      height: 40em;
      display: flex;
      align-items: center;
      justify-content: center;
      position: fixed;
      left: 50%;
      transform: translate(-50%, -28%);
      margin-left: 10px;
      margin-right: 10px;
  }
  
  #bkgGlyph {
    margin-left: 20px;
    margin-right: 40px;
    font-family: sampleFont;
    font-size: 700px;
    font-variation-settings: "SLON" 50, "SLTW" 50;
    color: darkgrey;
    -webkit-text-stroke-width: 10px;
  }

  #sampleGlyph {
        margin-left: 20px;
        margin-right: 40px;
      font-family: sampleFont;
      font-size: 700px;
      font-variation-settings: "SLON" 50, "SLTW" 50;
  }